.titulo{
    
    margin-top: -3%;
    font-family: monospace;
}

.acuerdo{

    margin-top: 10px;
    box-shadow: 0 0.9 2em rgba(30, 30, 31, 0.932);
    background-color: #f4f5f8;
}

  
.item-background-color{
    --ion-item-background: transparent;
}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}

.vecired {
    color: aliceblue;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.top {
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color:#aeaeae;
}

.banner ion-icon {
    font-size: 10em;
    color: azure;
}