.certificadoUnitario{
    //border: 0.1px #241816 solid;
    //border-radius: 5%;
    // border-bottom-left-radius: 3%;
    // border-bottom-right-radius: 3%;
    // border-top-left-radius:3%;
    // border-top-right-radius:3%;
    box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);
    background-color: #AFEEEE;
    //max-height: 95%;
    //background-color: #d3d3d3;
    
    
}

.tituloCertificado{
    //font-weight: lighter;
    color: black; 
    //font-family: Perpetua;
    text-align: center;
}

.formatoImagen
{
    width: 100%;
    //height: 11em;
    height: 250px;
    object-fit: cover;
    // border-bottom-left-radius: 5%;
    // border-bottom-right-radius: 5%;
    // border-top-left-radius:5%;
    // border-top-right-radius:5%;
    border: 2px #241816 solid;
    
}


.certificadoDescripcion
{
    text-align: justify;
    font-size: small; 
    color: black; 
    text-align: justify; 
    text-justify: inter-word; 
    width: 90%; 
    margin-left: 4%;
}

.fontColor
{
    color:black;
}