<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/ops-cert" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="vecired" color="light">VeciRed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="qr-container">
    <qrcode [qrdata]="qrdata" [width]="300"
    [colorDark]="'#3f51b5'"
    [imageSrc]="'/assets/icon/VeciRed.png'"
    [imageHeight]="75"
    [imageWidth]="75"
    ></qrcode>
  </div>
  <ion-text class="mi-texto">ID de Solictud: {{ idSolicitud }}</ion-text>
</ion-content>
