.vecired {
    color: aliceblue;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}

.loader{
    position: fixed;
    top: 40%;
    left: 35%;
    width: 100px;
    height: 100px;
}

.mi-texto{
    font-style: italic;
    position: fixed;
    top: 75%;
    left: 40%;
    right: 30%;
    
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }