<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="atras()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="vecired" color="light">VeciRed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- INICIO DE CARTA DE ESTADO -->
  <ion-card 
    [ngClass]="{
      'blueEvent': emisor.emitido === 1,
      'redEvent': emisor.emitido === 0
    }">
    
    <ion-card-header>
      <ion-grid>
        <ion-label
          *ngIf="emisor.emitido === 1"
          color="dark"
          style="font-size: 14px; margin-top: 10px; text-align: justify;"
        >
        <ion-label>
          <ion-text color="secondary"><ion-icon name="checkmark-circle-sharp"></ion-icon></ion-text>
          <b> Este certificado ha sido generado</b>
          <p></p>
          <ion-text color="shade" text-align="justify"><sub>Para acceder a este solo necesitas tu QR o id de solicitud</sub></ion-text>
        </ion-label>
        </ion-label>
        <ion-label
          *ngIf="emisor.emitido === 0"
          color="dark"
          style="font-size: 14px; margin-top: 10px;"
        >
        <ion-label>
          <ion-text color="danger"><ion-icon name="warning"></ion-icon></ion-text>
          <b> Este certificado no ha sido generado</b>
          <p></p>
          <ion-text color="shade" text-align="justify"><sub>¡Genéralo haciendo click en el botón 'GENERAR DOCUMENTO'!</sub></ion-text>
        </ion-label>
        </ion-label>
      </ion-grid>
    </ion-card-header>
  </ion-card>
  <!-- FIN DE CARTA DE ESTADO -->

  <!-- INICIO DE MENU BOTONES -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large" color="tertiary" (click)="verdocumento(emisor)">Ver datos del certificado</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large" color="tertiary" [disabled]="emisor.emitido === 0">Ver QR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" size="large" color="tertiary" [disabled]="emisor.emitido === 1" (click)="confirmacion(this.emisor._id)">Generar Documento</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- FIN DE MENU BOTONES -->
</ion-content>


