.emisorUnitario{
    //border: 0.1px #241816 solid;
    //border-radius: 5%;
    // border-bottom-left-radius: 3%;
    // border-bottom-right-radius: 3%;
    // border-top-left-radius:3%;
    // border-top-right-radius:3%;
    box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);
    background-color: #ecebeb;
    //max-height: 95%;
    //background-color: #d3d3d3;
    
    
}

.fontColor{
    //font-weight: lighter;
    color: black; 
    //font-family: Perpetua;
    text-align: center;
}
