<ion-content class="ion-text-center">
  <div class="mitad-gradiente"></div>
  <ion-row>
    <ion-col>
      <h4>
        <ion-text color="light" class="vecired">
          VeciRed
        </ion-text>
      </h4>
      <div>
        <img src="/assets/icon/VeciRed.png">
      </div>
    </ion-col>
  </ion-row>
  <ion-card class="caja-sm">
    <form (ngSubmit)="login()" #logearse="ngForm">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-list class="bg-transparent">
              <ion-text color="dark" class="poppins">Iniciar sesión</ion-text>
              <ion-item color="none" class="lista-sm">
                <ion-label position="floating" color="light" class="my-label">
                  <ion-icon name="mail" item-start></ion-icon>
                  Correo Electronico
                </ion-label>
                <ion-input name="correo" type="email" placeholder="tucorreo@VeciRed.cl" [(ngModel)]="User.email" color="light" class="my-label" (keyup.enter)="login()" required>
                </ion-input>
              </ion-item>

              <ion-item color="none" class="lista-sm">
                <ion-label position="floating" color="light" class="my-label">
                  <ion-icon name="lock-closed" item-start></ion-icon>
                  Contraseña
                </ion-label>
                <ion-input name="pass" type="password" placeholder="●●●●●●" [(ngModel)]="User.password" color="light" class="my-label" (keyup.enter)="login()" required>
                </ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <p>
          <ion-text class="my-label3" >
            ¿Has olvidado tu contraseña?
          </ion-text>
        </p>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="tertiary" shape="round" class="ingresar">
              Ingresar
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button color="tertiary" shape="round" fill="outline"   (click)="verificador()">
              Validar  documentos
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </ion-card>

  <ion-card class="caja-nb">
    <p (click)="registrarse()">
      <ion-text color="light" class="my-label4">
        ¿No tienes cuenta?,<strong>Regístrate</strong>
      </ion-text>
    </ion-card>
 
</ion-content>
