<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="ion-text-center" color="light">
      VeciRed
    </ion-title>

    <ion-buttons slot="end">   
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!--INICIO TITULO-->
  <ion-grid>
    <div class="ripple-parent">
      <ion-row>    
        <ion-col  class="emisorTitle ion-text-center">
          <b>MIS SOLICITUDES DE CERTIFICADOS</b>
        </ion-col>
      </ion-row>     
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </ion-grid>
  <!--FIN TITULO-->

<!--INICIO EMTPY SOLICITUD-->
<ion-grid  *ngIf="emptySolicitud" >
  <ion-card class=" ion-text-center noEmit">
  <img class="noEmitImage"src="/../../assets/noComunity.png"> 
  <h3 class="noEmitTitle"><b>No existen solicitudes de certificado en tu comunidad.</b></h3>
  </ion-card>
</ion-grid>
  <!--FIN EMTPY SOLICITUD-->

  <!-- INICIO  OBTENER SOLICITUDES -->

  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
             *ngFor="let emisor of emisores"
    >
    <ion-card class="emisorUnitario">
      <ion-card-header >
      <ion-card-subtitle  class=" fontColor ion-text-center">
        <ion-icon name="body"></ion-icon>
        {{emisor.comunidad.nombreComunidad}}
      </ion-card-subtitle>
      <ion-card-subtitle  class=" fontColor ion-text-center">
        <ion-icon name="document-text-outline"></ion-icon>
        {{emisor.certificado.titulo}}
      </ion-card-subtitle>
      <ion-card-title class="ion-text-center">
        <b>{{emisor.usuario.nombre}}</b>
      </ion-card-title>
      <ion-card-content class="fontColor ion-text-center">
        <ion-icon name="chatbubble-ellipses-outline" ></ion-icon>
        {{emisor.motivo}}
        <ion-row>
          <ion-col>
              <ion-button  
                           class="aceptarVecino"
                           id="aceptarVe"
                           color="success"
                           size="small"
                           style="width: 84%;"
                           (click)="aceptarVecino(solicitud.comunidad._id, solicitud.usuario._id, solicitud._id)"
              >               
               aceptar
              </ion-button>
          </ion-col>
          <ion-col>
            <ion-button    class="rechazarVecino"
                           color="danger"
                           size="small"
                           (click)="rechazoVecino(solicitud._id)"
              >               
               rechazar
              </ion-button>
          </ion-col>
        </ion-row>
    
    
      </ion-card-content>
    
      </ion-card-header>
      
    </ion-card>
    
    </ion-col>
  </ion-row>
  <!--FIN OBTENER DE SOLICITUDES-->

  <!-- INICIO INFINITE SCROLL -->
  <ion-infinite-scroll (ionInfinite)="cargarNuevos($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más certificados."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- FIN INFINITE SCROLL -->

  <div *ngIf="!infiniteScroll && !emptySolicitud" class="nomasSolicitudes">
    <p>No hay más solicitudes de certificado disponibles.</p>
  </div>

</ion-content>

