<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="light" name=""></ion-back-button>
    </ion-buttons>
  
    <ion-title class="vecired" color="light">VeciRed</ion-title>
  
    <ion-buttons slot="end">   
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="top">
    <ng-container *ngIf="loading; else content">
      <ion-spinner class="loader" color="tertiary"></ion-spinner>
    </ng-container>
    <ng-template #content>
      <ng-container *ngIf="emisor.emitido === 1; else redBanner">
        <div class="blueBanner">
          <ion-icon name="checkmark-sharp"></ion-icon>
        </div>
        <ion-card class="bluecard">
        <ion-label>
          <ion-text color="secondary"><ion-icon name="checkmark-circle-sharp"></ion-icon></ion-text>
          <b> Verificación exitosa</b>
          <p></p>
        </ion-label>
      </ion-card>

        <ion-card-header>
          <ion-card-subtitle class="sub">Este certificado fue solicitado en {{emisor.fechaemision | date : 'd/M/yy'}}  en 
            {{emisor.comunidad.nombreComunidad}} ubicada en la comuna de {{emisor.comunidad.comuna}} de la región
            de {{emisor.comunidad.region}}.</ion-card-subtitle>
        </ion-card-header>
        <br>
        <ion-text class="grande1">{{apellidoParseado}}</ion-text>
        <br>
        <ion-text class="mid1">Apellidos</ion-text>
        <br>
        <ion-text class="grande1">{{nombreParseado}}</ion-text>
        <br>
        <ion-text class="mid1">Nombre </ion-text>
        <br>
        <ion-text class="grande1">{{emisor.usuario.rut}}</ion-text>
        <br>
        <ion-text class="mid1">Rol Unico Tributario (RUT)</ion-text>
        <br>
        <br>
        <br>
        <ion-text class="smol">Domiciliado en: {{emisor.usuario.direccion}}</ion-text>
        <br>
        <br>
        <ion-text class="smoler">{{apellidoParseado}}<{{nombreParseado}}</ion-text>
        <br>
        <br>


        <ion-grid>
          <ion-row class="ion-align-items-center">
 
            <ion-col size="12" class="ion-text-center">
              <ion-button shape="circle" (click)="aCasa()">
                <ion-icon slot="icon-only" name="home-sharp"></ion-icon>
              </ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
              </ng-container>
      <ng-template #redBanner>
        <div class="redBanner">
          <ion-icon name="close-circle-outline"></ion-icon>
        </div>
        <ion-card class="redcard">
        <ion-label>
          <ion-text color="danger"><ion-icon name="warning"></ion-icon></ion-text>
          <b> Verificación fallida</b>
          <p></p>
        </ion-label>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle class="sub">La ID de la solicitud proporcionada no dió resultados, lo que significa que el
            id entregado no es válido o no coincidió con ningún ID dentro de la base de datos de VeciRed, intente escribiendo de nuevo la ID
            o asegurándose de que el QR se puede leer correctamente.</ion-card-subtitle>
        </ion-card-header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-grid>
          <ion-row class="ion-align-items-center">
 
            <ion-col size="12" class="ion-text-center">
              <ion-button shape="circle" (click)="aCasa()">
                <ion-icon slot="icon-only" name="home-sharp"></ion-icon>
              </ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>

      </ng-template>
    </ng-template>
    
  </ion-card>
  
</ion-content>