<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="light" name=""></ion-back-button>
    </ion-buttons>
  
    <ion-title class="vecired" color="light">VeciRed</ion-title>
  
    <ion-buttons slot="end">   
      <ion-button disabled>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="top">
    <ng-container *ngIf="loading; else content">
      <ion-spinner class="loader" color="tertiary"></ion-spinner>
    </ng-container>
    <ng-template #content>
      <ng-container *ngIf="emisor.emitido === 1; else redBanner">
        <div class="blueBanner">
          <ion-icon name="checkmark-sharp"></ion-icon>
        </div>
        <ion-card class="bluecard">
        <ion-label>
          <ion-text color="secondary"><ion-icon name="checkmark-circle-sharp"></ion-icon></ion-text>
          <b> Verificacion exitosa</b>
          <p></p>
        </ion-label>
      </ion-card>

        <ion-card-header>
          <ion-card-subtitle class="sub">Este certificado fue solicitado en {{emisor.fechaemision | date : 'd/M/yy'}}  en 
            {{emisor.comunidad.nombreComunidad}} ubicada en la comuna de {{emisor.comunidad.comuna}} de la región
            de {{emisor.comunidad.region}}.</ion-card-subtitle>
        </ion-card-header>
      </ng-container>
      <ng-template #redBanner>
        <div class="redBanner">
          <ion-icon name="close-circle-outline"></ion-icon>
        </div>
      </ng-template>
    </ng-template>
    
  </ion-card>
  
</ion-content>