.vecired {
    color: aliceblue;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.cabecera{
    --background: linear-gradient(135deg, #110A3B, #2f32a0);
}



.top {
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid white;
    box-shadow:none !important;
    margin: 0;
}



.blueBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #2f33a069;
}

.blueBanner ion-icon {
    font-size: 10em;
    color: azure;
}

.redBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #f014144d;

}

.redBanner ion-icon {
    font-size: 10em;
    color: azure;
}

.loader{
    position: fixed;
    top: 40%;
    left: 35%;
    width: 100px;
    height: 100px;
}

.titulo2{
    text-align: center;
    font-weight: bolder;
}

.sub{
    font-size: medium;
   text-align: justify;
}

.bluecard{
    background-color: rgba(47, 51, 160, 0.185);
    padding: 5%;
}